/* 모든링크 밑줄 제거 시작 */
a{
    text-decoration: none;
}
a:hover {color: blue; text-decoration: none;}
/* 모든링크 밑줄 제거 끝 */

/* 홈 아이콘 시작 */
#logo{
    margin-top: 70px;
    margin-left: 100px;
}
/* 홈 아이콘 끝 */

/* body안에 들어가는 내용 전체 적용하는 양옆, 위 여백 시작 */
.body_div{
    padding-left: 150px;
    padding-right: 150px;
    padding-top: 30px;
    width: 100%;
    height: 100%;
}
/* body안에 들어가는 내용 전체 적용하는 양옆, 위 여백 끝 */

